########################################################################################
#+------------------------------------------------------------------------------------+#
#|                                                                                    |#
#|                               SwornRPG Configuration                               |#
#|                                    By: dmulloy2                                    |#
#|                                                                                    |#
#+------------------------------------------------------------------------------------+#
########################################################################################

# This is the main configuration file for SwornRPG
# It follows standard YAML procedure
# If there is an error on startup, make sure the config matches up with this:
# https://github.com/dmulloy2/SwornRPG/blob/master/src/main/resources/config.yml
# Input: boolean - true/false, String - "text", integer - number

##############################################
#+------------------------------------------+#
#|           Global Configuration           |#
#+------------------------------------------+#
##############################################

# Extra output to console (boolean)
debug: false

# Marriage (boolean)
marriage: true

# Mob Spawner Camping Radius (integer)
# Set to -1 to disable
campingRadius: -1

# Worlds SwornRPG is disabled in (world)
disabledWorlds:

##############################################
#+------------------------------------------+#
#|                Salvaging                 |#
#+------------------------------------------+#
##############################################

# Salvaging Enabled (boolean)
salvaging: true

# Items that can be salvaged, formatted: "id, Material, how many items it returns; ...; lastid, Lastmaterial, lastitems"
salvage: "306, Iron, 5; 307, Iron, 8; 308, Iron, 7; 309, Iron, 4; 310, Diamond, 5; 311, Diamond, 8; 312, Diamond, 7; 313, Diamond, 4; 314, Gold, 5; 315, Gold, 8; 316, Gold, 7; 317, Gold, 4; 267, Iron, 2; 256, Iron, 1; 257, Iron, 3; 258, Iron, 3; 292, Iron, 2; 276, Diamond, 2; 277, Diamond, 1; 278, Diamond, 3; 279, Diamond, 3; 293, Diamond, 2; 283, Gold, 2; 284, Gold, 1; 285, Gold, 3; 286, Gold, 3; 294, Gold, 2"

##############################################
#+------------------------------------------+#
#|              Auto Save Task              |#
#+------------------------------------------+#
##############################################

# Enabled (boolean)
# Interval (integer) - interval, in minutes
autoSave:
  enabled: true
  interval: 120

#############################################
#+-----------------------------------------+#
#|                Abilities                |#
#+-----------------------------------------+#
#############################################
  
# Duration (in seconds) = baseDuration + (levelMultiplier x level)
# Cooldown (in seconds) = duration x cooldownMultiplier
# Inputs: enabled - boolean, rest - integer
# Effects: list of PotionEffectTypes

# Frenzy Mode
frenzy:
  enabled: true
  baseDuration: 5
  levelMultiplier: 1
  cooldownMultiplier: 10
  effects:
    - SPEED
    - INCREASE_DAMAGE
    - REGENERATION
    - JUMP
    - FIRE_RESISTANCE
    - DAMAGE_RESISTANCE

# Super Pickaxe
superPickaxe:
  enabled: true
  baseDuration: 10
  levelMultiplier: 2
  cooldownMultiplier: 2

# Unlimited Ammo
unlimitedAmmo:
  enabled: true
  baseDuration: 10
  levelMultiplier: 2
  cooldownMultiplier: 2

# Reduce cooldown spam
# input - boolean
reduceCooldownSpam: true

#############################################
#+-----------------------------------------+#
#|                Leveling                 |#
#+-----------------------------------------+#
#############################################

# How much xp a player gains when doing a particular task
# Inputs: enabled - boolean, xpgain/loss - integer

levelingMethods:
  # Minecraft XP Gain
  mcXpGain:
    enabled: true
    xpgain: 15
  # PVP
  playerKills:
    enabled: true
    xpgain: 25
    xploss: 10
  # PVE
  mobKills:
    enabled: true
    xpgain: 5
  # Minute of online time
  onlineTime:
    enabled: false
    xpgain: 1
    async: false
  # Taming
  taming:
    enabled: true
    xpgain: 5
  # Fishing
  fishing:
    enabled: true
    xpgain: 5
  # Farming
  herbalism:
    enabled: true
    xpgain: 1
  # Enchanting
  enchanting:
    enabled: true
    xpgain: 5

# Maximum level
# Input - integer
# Set to -1 to disable
levelCap: -1

#############################################
#+-----------------------------------------+#
#|                Rewards                  |#
#+-----------------------------------------+#
#############################################

# Levelup Rewards
# Enabled - boolean
# Money - integer
# Items - List<Item>

levelingRewards:
  enabled: true
  money: 250
  items:
    - "diamond, 1"
 
#############################################
#+-----------------------------------------+#
#|              Health Bars                |#
#+-----------------------------------------+#
#############################################

# Player and Mob health bars
# Inputs: enabled - boolean

mobHealthBars:
  enabled: true

playerHealthBars:
  enabled: false

#############################################
#+-----------------------------------------+#
#|            Miscellaneous                |#
#+-----------------------------------------+#
#############################################

# Confusion - when a player punches another player in the face
# Enabled - boolean.
# Duration (integer) in seconds.
# Strength (integer) - potion strength

confusion:
  enabled: true
  duration: 3
  strength: 1
  
# Speed Boost - random chance of a player speeding up
# Enabled - boolean.
# Odds (integer) chance (1 out of odds)
# Duration (integer) in seconds.
# Strength (integer) speed boost strength

speedBoost:
  enabled: true
  odds: 20
  duration: 2
  strength: 1
  
# Graceful Roll - random chance of a player not taking fall damage
# Enabled - boolean.
# Odds (integer) chance (1 out of odds)

gracefulRoll:
  enabled: true
  odds: 50

# Insta-Kill - random chance of a player instantly killing a mob
# Enabled - boolean
# Odds (integer) chance (1 out of odds)

instaKill:
  enabled: true
  odds: 100

# Arrow Fire - random chance of a player catching on fire when hit with arrows
# Enabled - boolean
# Odds (integer) chance (1 out of odds)

arrowFire:
  enabled: true
  odds: 10

# Axe Knockback - random chance of a player getting knocked back by axes
# Enabled - boolean
# Odds (integer) chance (1 out of odds)

axeKnockback:
  enabled: true
  odds: 8

# Iron Door protection (boolean)
ironDoorProtection: false

# Death Coordinate Messages (boolean)
deathCoordinateMessages: true
 
#############################################
#+-----------------------------------------+#
#|               Block Drops               |#
#+-----------------------------------------+#
#############################################
    
# Enabled (boolean)
blockDropsEnabled: true 

# Items Dropped
# Format: 
#  <blockType>:
#    - "<material>[:data]:<chance>"
# Chance is 1 out of <chance>
blockDropItems:
  "*":
    - "TNT:1000"
    - "OBSIDIAN:1000"
    - "DIAMOND:1000"
    - "EXP_BOTTLE:5000"
    - "EMERALD:5000"
    - "NETHER_STAR:50000"
    - "GOLD_INGOT:1000"
    - "IRON_INGOT:1000"
    - "QUARTZ:200"
    - "HOPPER:1000"
    - "REDSTONE_COMPARATOR:1000"  
  "CLAY":
    - "SLIME_BALL:20"
    - "STRING:20"
    - "FLINT:20"
    - "WEB:100"
  "GRASS":
    - "PUMPKIN_SEEDS:30"
    - "POTATO_ITEM:30"
    - "CARROT_ITEM:30"
  "STONE":
    - "IRON_ORE:75"
    - "COAL:25"
    - "LAPIS_ORE:100"
    - "GOLD_ORE:200"
  "LOG":
    - "SUGAR_CANE:20"
    - "DEAD_BUSH:200"
    - "COCOA:100"
  "COBBLESTONE":
    - "ITEM_FRAME:20"
    - "MOSSY_COBBLESTONE:20"
    - "COBBLESTONE_STAIRS:50"
    - "ANVIL:200"
    - "BOOK_AND_QUILL:100"
  "ENDER_STONE":
    - "ENCHANTMENT_TABLE:150"
    - "POISONOUS_POTATO:25"
    - "EMERALD:500"
    - "ENDER_PEARL:25"
  "WOOL":
    - "WEB:100"
    - "STRING:15"
  "THIN_GLASS":
    - "THIN_GLASS:2"
  "GLASS":
    - "THIN_GLASS:10"
    - "GLASS:2"
    - "GLASS_BOTTLE:100"
  "WOOD":
    - "STICK:10"
    - "LADDER:20"
    - "FENCE:50"
    - "WOOD_STAIRS:10"
  "NETHERRACK":
    - "FIREBALL:15"
    - "NETHER_STALK:25"
    - "NETHER_BRICK:10"
    - "QUARTZ_ORE:50"
  "SOUL_SAND":
    - "MAGMA_CREAM:100"
    - "NETHER_STALK:25"
    - "REDSTONE:25"
    - "SKULL_ITEM:300"
  "SANDSTONE":
    - "DETECTOR_RAIL:15"
    - "SAND:15"
    - "FLOWER_POT_ITEM:30"
  "SAND":
    - "SUGAR_CANE:15"
    - "RAW_FISH:15"
    - "SEEDS:30"
  "LEAVES":
    - "VINE:15"
    - "WATER_LILY:15"
    - "COCOA:200"
  "DIRT":
    - "POTATO_ITEM:30"
    - "CARROT_ITEM:30"
    - "COOKIE:30"
    - "EMPTY_MAP:100"
    - "IRON_DOOR:100"
  "GRAVEL":
    - "SULPHUR:15"
    - "BONE:10"
    - "NETHERRACK:50"
  "SAPLING":
    - "BONE:150"
    - "LEAVES:25"
    - "DEAD_BUSH:500"
    - "STICK:25"
  "LONG_GRASS":
    - "PUMPKIN_SEEDS:150"
    - "LONG_GRASS:5"
    - "MELON_SEEDS:150"
    - "WEB:25"
  "DEAD_BUSH":
    - "PUMPKIN_SEEDS:150"
    - "DEAD_BUSH:5"
    - "MELON_SEEDS:150"
    - "WEB:25"
  "YELLOW_FLOWER":
    - "LEAVES:25"
    - "GOLD_NUGGET:150"
    - "BROWN_MUSHROOM:25"
  "RED_ROSE":
    - "LEAVES:25"
    - "NETHER_STALK:150"
    - "RED_MUSHROOM:25"
  "BROWN_MUSHROOM":
    - "HUGE_MUSHROOM_1:10"
    - "NETHER_STALK:150"
    - "YELLOW_FLOWER:25"
  "RED_MUSHROOM":
    - "HUGE_MUSHROOM_2:10"
    - "NETHER_STALK:150"
    - "RED_ROSE:25"
  "CROPS":
    - "DIAMOND_HOE:1000"
    - "SEEDS:5"
    - "POTATO_ITEM:150"
    - "BREAD:25"
  "CROPS":
    - "DIAMOND_HOE:1000"
    - "SEEDS:5"
    - "POTATO_ITEM:150"
    - "BREAD:25"
  "CACTUS":
    - "SPECKLED_MELON:500"
    - "ARROW:15"
    - "IRON_SWORD:1000"
    - "POTION:25"
  "SUGAR_CANE_BLOCK":
    - "ENDER_PEARL:1000"
    - "SUGAR:15"
    - "MELON_SEEDS:150"
    - "LEAVES:25"
  "PUMPKIN":
    - "PUMPKIN_PIE:200"
    - "JACK_O_LANTERN:15"
    - "GLOWSTONE_DUST:150"
    - "PUMPKIN_SEEDS:25"
  "JACK_O_LANTERN":
    - "FIRE:1000"
    - "TORCH:5"
    - "BLAZE_POWDER:150"
    - "PUMPKIN:25"
  "VINE":
    - "GHAST_TEAR:500"
    - "STRING:10"
    - "LEAVES:50"
    - "SEEDS:25"
  "MYCEL":
    - "EXP_BOTTLE:1000"
    - "BROWN_MUSHROOM:3"
    - "NETHER_STALK:25"
    - "RED_MUSHROOM:3"
  "WATER_LILY":
    - "VINE:5"
    - "RAW_FISH:150"
    - "PUMPKIN_SEEDS:25"
  "NETHER_WARTS":
    - "BLAZE_ROD:250"
    - "NETHER_STALK:5"
    - "GHAST_TEAR:250"
    - "RED_MUSHROOM:25"
  "COCOA":
    - "CAKE:1000"
    - "SUGAR:10"
    - "INK_SACK:150"
  "CARROT":
    - "GOLDEN_CARROT:1000"
    - "CARROT_ITEM:5"
    - "CARROT_STICK:150"
    - "CARROT:100"
  "POTATO":
    - "POTATO:100"
    - "POTATO_ITEM:5"
    - "POISONOUS_POTATO:50"
    - "BAKED_POTATO:25"

#############################################
#+-----------------------------------------+#
#|               Fish Drops                |#
#+-----------------------------------------+#
#############################################

# Enabled (boolean)
fishDropsEnabled: true

# Done based on level (up to 10)

# Items Dropped
# Format: 
#  <level>:
#    - "<material>[:data]:<chance>"
# Chance is 1 out of <chance>
fishDropItems:
  "0":
    - "LEATHER_BOOTS:10"
    - "WOOD_SWORD:5"
  "1":
    - "WOOD_SPADE:5"
    - "FISHING_ROD:10"
  "2":
    - "WOOD_PICKAXE:15"
    - "LEATHER_HELMET:5"
  "3":
    - "LEATHER_LEGGINGS:5"
    - "WOOD_AXE:5"
  "4":
    - "WOOD_HOE:5"
    - "STONE_HOE:15"
  "5":
    - "STONE_SPADE:10"
    - "STONE_AXE:5"
  "6":
    - "DIAMOND_SPADE:15"
    - "DIAMOND_AXE:15"
  "7":
    - "DIAMOND_SWORD:10"
    - "DIAMOND_PICKAXE:10"
  "8":
    - "DIAMOND_BLOCK:1"
    - "IRON_BLOCK:1"

#############################################
#+-----------------------------------------+#
#|           Block Redemption              |#
#+-----------------------------------------+#
#############################################
    
# Block Redemption Enabled (boolean)
redemptionEnabled: true

# Blacklisted Materials for Block Redemption
# Format: - material
redemptionBlacklist:
- diamond_block
- emerald_block
- iron_block
- gold_block
- diamond_ore
- emerald_ore
- iron_ore
- gold_ore
- obsidian
- beacon
- tnt
- pumpkin_stem
- melon_stem
- nether_warts
- potatoes
- potato_item
- carrots
- carrot_item
- crops
- fire